<br>
<br>
<div class="animated zoomIn slow" >
  <mat-card >
    <mat-spinner *ngIf = "isLoading"></mat-spinner>
    <form
      *ngIf = "!isLoading"
      #loginForm="ngForm"
      (submit) = "onLogin(loginForm)"
      >
      <mat-form-field>
        <input
          matInput
          name="email"
          ngModel
          #emailInput = "ngModel"
          type="email"
          placeholder="E-mail"
          required
          email>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid e-mail.</mat-error>
      </mat-form-field>
      <br>

      <mat-form-field>
        <input
        matInput
        type="password"
        name="password"
        ngModel
        #passwordInput = "ngModel"
        placeholder="Password"
        required>
        <mat-error *ngIf="passwordInput.invalid">Please enter a password!</mat-error>
      </mat-form-field>
      <br>
      <button
        mat-raised-button
        color="accent"
        type="submit">Login</button>
    </form>

    <hr>
    <p style="text-align: center;" >No account yet? <a  routerLink="/auth/signup">signup...</a></p>
  </mat-card>

</div>

