main {
  width: 100%;
  /* height: 100%; */
  margin: 1rem auto;
}

.sidenav {
  height: 100%;
  width: 16.5%;
  position: fixed;
  /* z-index: 1; */
  top: 10%;
  left: 0;
  /* background-color: rgb(221, 181, 181); */
  overflow-x: hidden;
  padding-top: 20px;
}

.bottom-menu {
  display: none;
}

@media only screen and (max-width: 576px) {
  .bottom-menu {
    display: inherit;
  }
  .sides {
    visibility: hidden;
    display: none;
    height: 0;
  }
  .center {
    /* width: 2000px; */
  }
}
