
<div *ngIf="messages.length > 0">
  <div  class="animated bounceInRight slow container" *ngFor="let msg of messages; let i = index">

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-subtitle> from: <strong>{{currentUserId===msg.sender ? 'me' : currentContact.name}}</strong> to:
          <strong>{{currentUserId===msg.receiver ? 'me' : currentContact.name}} </strong></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="jumbotron">
          {{msg.content}}
        </div>


      </mat-card-content>
      <mat-card-actions *ngIf="currentUserId===msg.sender">

        <button mat-raised-button color="warn" (click)="onDeleteMsg(msg, i)">Delete</button>
      </mat-card-actions>
      <mat-card-footer>
        <i>  {{msg.date}}</i>

      </mat-card-footer>
    </mat-card>


  </div>
</div>



  <div class="d-flex  fixed-bottom messageDiv animated bounceInUp slower" c >
    <form [formGroup] = "form" (submit)="onSendMsg()" class="example-form" >
      <div class="row">
        <div class="col-9">
          <mat-form-field class="example-full-width">
            <textarea
            matInput
            rows="4"
            formControlName="message"
            placeholder="message..."></textarea>

            <mat-error *ngIf="form.get('message').invalid">Please enter some message...</mat-error>
          </mat-form-field>
        </div>
        <div class="col-3">
          <button style="margin-top: 30%; margin-left: 30%;"
          mat-raised-button
          color="accent"
          type="submit">Send</button>
        </div>
      </div>


    </form>

  </div>

